.body_content {
    position: relative;
    align-items: center;
    font-size: 12pt;
    padding: 10% 20%;
    font-weight: 600;
}

input[type="checkbox"] {
    display: inline-block;
    box-sizing: border-box;
    width: 14px;
    height: 14px;
    border: 2px solid black;
}

.tool_content {
    position: relative;
    box-sizing: border-box;
    width: 10vw;
    top: -1vw;
    left: 10vw;
    padding: 0.3vw;
    background-color: whitesmoke;
    text-align: center;
    border-right: solid 1px black;
}

.tool_checkbox {
    position: relative;
    left: 21vw;
    top: -2.5vw;
    background-color: rgba(211, 204, 204, 0.603);
    width: 32vw;
}