a {
    text-decoration: none;
    color: black;
}

.body_content {
    position: relative;
    align-items: center;
    font-size: 12pt;
    padding: 10% 20%;
    font-weight: 600;
}

.tool_content {
    position: relative;
    box-sizing: border-box;
    width: 40vw;
    top: -1vw;
    left: 10vw;
    padding: 0.3vw;
    background-color: whitesmoke;
    text-align: center;
    border-right: solid 1px black;
}

.tool_content ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0 1vw;
}